.delete {
  display: none;
  justify-content: center;
  font-family: "inter", sans-serif;
  position: relative;
}


.delete-active{
  display: flex;
}

.delete__icon-close {
  z-index: 11;
  border: none;
  cursor: pointer;
  width: 40px;
  background-color: transparent;
  position: relative;
  left: 190px;
  color: white;
}

.delete__icon-close:hover {
  opacity: 0.5;
}

.delete__card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: aliceblue;
  position: fixed;
  width: 100%;
  max-width: 330px;
  height: 100vh;
  max-height: 150px;
  z-index: 10;
  border-radius: 10px;
}


.delete__card-button {
  cursor: pointer;
  max-width: 260px;
  width: 100%;
  margin: auto;
  background-color: black;
  color: white;
  padding: 10px;
  margin-top: 15px;
  border-radius: 5px;
}

.delete__card-button:hover {
  opacity: 0.5;
}
